<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/UniToken.png">

    <title>Create an Account</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<% include nav.ejs%>

<!--flash message-->
<% if (locals.messages) { %>
<% if (messages.warning) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= messages.warning %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } else { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= messages.msg1 %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>
<% } %>

<form id="registration-info" method="POST" >
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/img/UniToken.png" alt="" width="100" height="100">
            <h2>Registration Form</h2>
            <p class="lead">Please fill out the information below regarding your new UniToken account.</p>
        </div>

        <div class="row justify-content-center">

            <div class="col-md-8 order-md-1">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" name="firstName" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" name="lastName" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" name="email" required>
                    <div class="invalid-feedback">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="birthmonth">Birthday</label>
                        <select class="custom-select d-block w-100" name="birthmonth" required>
                            <option value="">Month</option>
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid month.
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="birthday">Day</label>
                        <input type="text" class="form-control" name="birthday" required>
                        <div class="invalid-feedback">
                            Day is required.
                        </div>

                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="birthyear">Year</label>
                        <input type="text" class="form-control" name="birthyear" required>
                        <div class="invalid-feedback">
                            Year is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="university">University</label>
                    <select class="custom-select d-block w-100" name="university" required>
                        <option value="">Choose...</option>
                        <option>UC Berkeley</option>
                        <option>UC Davis</option>
                        <option>UC Irvine</option>
                        <option>UCLA</option>
                        <option>UC Riverside</option>
                        <option>UC San Francisco</option>
                        <option>UC Santa Barbara</option>
                        <option>UC Santa Cruz</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid university.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" name="country" required>
                            <option value="">Choose...</option>
                            <option>United States</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" name="state" required>
                            <option value="">Choose...</option>
                            <option>California</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" name="zip">
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="repeat_password">Repeat Password</label>
                    <input type="password" class="form-control" name="repeat_password" id="repeat_password" required>
                    <script>
                        form = document.getElementById("registration-info");
                        form.onsubmit = function() {
                            var password = document.getElementById("password");
                            var repeat_password = document.getElementById("repeat_password");
                            if (password.value != repeat_password.value) {
                                console.log("Passwords don't match");
                                return false; // prevent the form from submitting
                            } else {
                                return true;
                            }
                        }
                    </script>

                </div>

                <hr class="mb-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="/js/jquery-slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/holder.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>