body {
	font-family: roboto, sans-serif;
}

.signup {
	height: 1000px;
}

.intro {
	z-index: -1;
}

.introcontent {
	padding-top: 138px;
	padding-bottom: 138px;
}

#bg {
	position: fixed;
	z-index: -1;
	background: url("../img/topography.png");
	opacity: .4;
	height: 100%;
}

#infowrapper {
	background-color: rgb(245,245,245);
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 -2px 20px 0 rgba(0, 0, 0, 0.19);
	color: rgb(80, 80, 80);
	padding: 26px;
	z-index: -1;
}

hr {
	margin: 6px;
}

#stats {
	margin-top: 58px;
	margin-bottom: 58px;
	padding-top: 58px;
	padding-bottom: 58px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05), 0 -2px 20px 0 rgba(0, 0, 0, 0.19);
}

.figures {
	
}

.info-body {
	font-size: 1.25rem;
}

.bold {
	font-size: 28px;
	font-weight: bold;
}

.statistic {
	font-size: 42px;
}

#steps {
	padding-left: 26px;
}

footer {
	height: 120px;
	background-color: rgb(51, 51, 51);
}