body {
	font-family: roboto, sans-serif;
}

.navbar-collapse a {
	color: rgb(255, 255, 255);
}

.signup {
	height: 1000px;
}

main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro {
	z-index: -1;
}

#bg {
	position: fixed;
	z-index: -1;
	background: url("../img/topography.png");
	opacity: .4;
	height: 100%;
}

#temp {
	height: 1000px;
	background-color: rgb(245,245,245);
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.05), 0 -2px 20px 0 rgba(0, 0, 0, 0.19);
}