.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#sidebar {
	height: 100%;
	padding-right: 0px;
	background-color: grey;
}

#searchwrapper {
	padding-top: 16px;
}

#create-listing {
	padding-bottom: 16px;
}

.bleh {
	margin-top: 16px;
}

.bold {
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}

.checkboxes {
	list-style: none;
	padding-left: 0px;
}

#listingwrapper {
}

.listing {
	background-color: rgb(245,245,245);

	margin-top: 25px;
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.05), 0 -2px 20px 0 rgba(0, 0, 0, 0.19);
}

.listing img {
	height: 150px;
	width: 150px;
	float: right;
}

footer {
	height: 120px;
	background-color: rgb(51, 51, 51);
}