body {
	font-family: roboto, sans-serif;
}

.navbar {
	background-color: rgb(1,49,153);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand {
	color: rgb(255, 255, 255);
	font-size: 28px;
	font-weight: bold;
	font-style: italic;
}

.navbar-collapse a {
	color: rgb(255, 255, 255);
}

.navbar-collapse .dropdown-item {
	color: rgb(0, 0, 0);
}

#name {
	text-align: right;
}

#name li {
	display: inline-block;
	float: none;
}