.profile-picture {
	padding-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;


}
.stuff {
	float: none;
	margin: 0 auto;
}
.user-type{
	padding-bottom: 50px;
}
.space {
	padding-bottom: 10px;
}