<!DOCTYPE html>
<html>

<head>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/createlisting.css" rel="stylesheet">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="http://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <title>Create a listing</title>
</head>

<% include nav.ejs %>

<body class="bg-light">
<div class="container">

    <div class="py-5 text-center">
        <h2>Create Listing</h2>
    </div>

    <form enctype="multipart/form-data" action="/market/post" method="POST" id="listing_form">

        <div class="row">
            <div class="col-md-4">
                <label for="listingName">Listing name</label>
                <input id="listingName" name="listingName" type="text" class="form-control"
                       placeholder="E.g. mountain bike, iClicker 2, etc." required>
                <div class="invalid-feedback">Name should be 2 to 20 characters</div>
            </div>
            <div class="col-md-2">
                <label for="listingCategory">Category</label>
                <select id="listingCategory" name="listingCategory" class="custom-select" required>
                    <option></option>
                    <option>Home</option>
                    <option>Entertainment</option>
                    <option>School</option>
                    <option>Electronics</option>
                    <option>Clothing & Accessories</option>
                    <option>Hobbies</option>
                    <option>Services</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="listingPrice">Price</label>
                <input type="number" id="listingPrice" name="listingPrice" class="form-control currency"
                       placeholder="123.45" required>
                <div class="invalid-feedback">Price should be more than 0</div>
            </div>
            <div class="col-md-2">
                <img class="img-fluid" id="preview" hidden>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-5">
                <label for="listingBio">Short description</label>
                <textarea class="form-control" id="listingBio" name="listingBio" rows="5" style="resize:none"
                          required></textarea>
                <div class="invalid-feedback">Description should not exceed 200 characters</div>
            </div>
            <div class="col-md-5">
                <label for="listingInfo">Additional info</label>
                <small>( Optional )</small>
                <textarea class="form-control" id="listingInfo" name="listingInfo" rows="5"
                          style="resize:none"></textarea>
                <div class="invalid-feedback">Info should not exceed 200 characters</div>
            </div>
        </div>

        <br>


        <br>

		<textarea class="form-control" id="wallet" name="wallet" rows="1" style="display:none"></textarea>
        <div class="row">
            <div class="col-md-12">
                <input class="btn btn-primary" id="_submit" type="submit">
				<h3 id="metamask">Get MetaMask to create a Listing</h3>
                <label class="btn btn-secondary align-top">
                    Upload a picture...<input type="file" id="uploadPhoto" name="uploadPhoto" accept="image/*"
                                              onchange="previewFile()" hidden>
                </label>
                <a class="btn btn-secondary" href="/market">Cancel</a>
            </div>
        </div>

    </form>

</div>
</body>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/web3.min.js"></script>
<script>
if(typeof web3 !== 'undefined') {
    web3 = new Web3(window.web3.currentProvider);
     var account = web3.eth.accounts[0];
	 //Check if user is logged in
	 web3.eth.getAccounts(function(err, accounts) {
		if(accounts.length == 0) {
			document.getElementById("_submit").hidden = true;
			document.getElementById("metamask").innerHTML = "Log into MetaMask";
			document.getElementById("metamask").hidden = false;
		}
		else {
			var accountInterval = setInterval(function() {
            if (web3.eth.accounts[0] !== account) {
                account = web3.eth.accounts[0];
            }
            document.getElementById("wallet").value = account;
			document.getElementById("metamask").hidden = true;
            console.log(account);
			},100 );
		}
	 });
}
else {
	document.getElementById("_submit").hidden = true;
	document.getElementById("metamask").hidden = false;
}

    const PRECISION = 8;
    // Function which restricts field's input to a number with 0 to PRECISION digits precision
    document.getElementById("listingPrice").addEventListener("keypress", function (evt) {
        var priceValue = document.getElementById("listingPrice").value;
        var containsDot = priceValue.indexOf(".") > -1;
        var isDot = (evt.which == 46);
        var isDigit = (evt.which >= 48) && (evt.which <= 57);
        var canInsertDigit = (containsDot) ? (priceValue.length - priceValue.indexOf(".")) <= PRECISION : true;
        if (!((isDot && !containsDot) || (isDigit && canInsertDigit))) {
            evt.preventDefault();
        }
    });
    // Function which 1) deletes extra zeros in the front of the number
    // and 2) reformats the number to be of PRECISION digits precision
    document.getElementById("listingPrice").onblur = function () {
        var priceValue = document.getElementById("listingPrice").value;
        var containsDot = priceValue.indexOf(".") > -1;
        if (containsDot) {
            var digitsToFill = PRECISION - (priceValue.length - priceValue.indexOf(".")) + 1;
            for (i = 0; i < digitsToFill; i++) {
                priceValue += "0";
            }
        } else {
            priceValue += ".";
            for (i = 0; i < PRECISION; i++) {
                priceValue += "0";
            }
        }
        var needsZeroDeleted = priceValue.charAt(0) == "0" && priceValue.charAt(1) != ".";
        while (needsZeroDeleted) {
            priceValue = priceValue.substring(1, priceValue.length);
            needsZeroDeleted = priceValue.charAt(0) == "0" && priceValue.charAt(1) != ".";
        }
        priceValue = priceValue == ".00" ? "0" : priceValue;
        document.getElementById("listingPrice").value = priceValue;
    }
</script>
<script>
    function previewFile() {
        var preview = document.getElementById("preview");
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            preview.src = reader.result;
        }
        if (file) {
            reader.readAsDataURL(file); //reads the data as a URL
            preview.hidden = false;
        } else {
            preview.src = "";
            preview.hidden = true;
        }
    }
</script>
<script>
    form = document.getElementById("listing_form");
    form.onsubmit = function () {
        var all_fields_completed = true;

        var name = document.getElementById("listingName");
        if (name.value.length < 2 || name.value.length > 20) {
            name.classList.add("is-invalid");
            all_fields_completed = false;
        } else {
            name.classList.remove("is-invalid");
        }

        var price = document.getElementById("listingPrice");
        if (price.value == 0.0) {
            price.classList.add("is-invalid");
            all_fields_completed = false;
        } else {
            price.classList.remove("is-invalid");
        }

        var bio = document.getElementById("listingBio");
        if (bio.value.length > 200) {
            bio.classList.add("is-invalid");
            all_fields_completed = false;
        } else {
            bio.classList.remove("is-invalid");
        }

        var info = document.getElementById("listingInfo");
        if (info.value.length > 200) {
            info.classList.add("is-invalid");
            all_fields_completed = false;
        } else {
            info.classList.remove("is-invalid");
        }

        return all_fields_completed;
    }
</script>
</html>