<!doctype HTML>
<html>
	<head>
		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- Roboto CDN (regular + bold italic)-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700i" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" type="text/css" href="../css/nav.css">
		<link rel="icon" href="University-Token/Website/UniToken.png">
		<title>Welcome to UniToken!</title>
		<script>
		function submit() {
			console.log("test");
			var host = "http://test.universitytoken.net";
			var field = document.getElementById("regRedirect");
			var form = document.getElementById("redirectForm");
			form.addEventListener("submit", function(event){
				event.preventDefault();
				if (field.value.indexOf(".edu") <= 0){
					alert("Put a .edu email");
				} else {
					console.log(1);
					window.location.replace("/register?email=" + field.value);
				}
			});
		}
		</script>
		<style>
		</style>	
	</head>
	<body>
		<div id="bg" class="container-fluid"></div>
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand" href="#">UniToken</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<div id="menu-glyph">&#9776;</div>
			  		</button>

			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
				 		<li class="nav-item active">
							<a class="nav-link" href="#">Whitepaper <span class="sr-only">(current)</span></a>
				  		</li>
				 		 <li class="nav-item">
							<a class="nav-link" href="#">Link</a>
				  		</li>
				 		<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  			Dropdown
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
				 		</li>
					</ul>
				<form class="form-inline my-2 my-lg-0" action="/login" method="POST">
				  	<input method="post" class="form-control mr-sm-2" name="email" type="email" placeholder="Email" aria-label="Username">
				  	<input method="post" class="form-control mr-sm-2" name="password" type="password" placeholder="Password" aria-label="Password">
				  	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
				</form>
			</div>
		  </div>
		</nav>
		<main>
			<div class="container">
				<div class="intro">
					<div class="introcontent">
						<div class="introwords">
							<h1 class="text-center">Cryptocurrency for academia</h1>
							<p class="text-center">Some nice and descriptive words<br>sample text</p>
						</div>
						<div class="getstarted" id="redirectForm">
							<form class="form-inline justify-content-center">
								<input class="form-control mr-sm-2" type="email" id="regRedirect" placeholder="Enter your .edu email" aria-label="Password">
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Get Started</button>
							</form>
						</div>
					</div>				
				</div>
				<div class="Token-info">
						<h1 class="text-center">UniToken Statistics</h1>	
						<div class="row align-items-center justify-content-center">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope = "col"></th>
										<th scope=  "col"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">Name:</th>
										<td id = "Token1"></td>
									</tr>
									<tr>
										<th scope="row">Symbol: </th>
										<td id = "Token2"></td>
									</tr>
									<tr>
										<th scope="row">Buy Price:  </th>
										<td id = "Token3"></td>
									</tr>
									<tr>
										<th scope="row">Buy Counter: </th>
										<td id = "Token4"></td>
									</tr>
									<tr>
										<th scope="row">Tokens Issued: </th>
										<td id = "Token5"></td>
									</tr>
									<tr>
										<th scope="row">Wei donated: </th>
										<td id = "Token6"></td>
									</tr>
									<tr>
										<th scope="row">Supply: </th>
										<td id = "Token7"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
			</div>
			<script>
			submit();

			        var abi = 
[{"constant":false,"inputs":[{"name":"newSellPrice","type":"uint256"},{"name":"newBuyPrice","type":"uint256"}],"name":"setPrices","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"name","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_spender","type":"address"},{"name":"_value","type":"uint256"}],"name":"approve","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"totalSupply","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_from","type":"address"},{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transferFrom","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"decimals","outputs":[{"name":"","type":"uint8"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_value","type":"uint256"}],"name":"burn","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"sellPrice","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"balanceOf","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"target","type":"address"},{"name":"mintedAmount","type":"uint256"}],"name":"mintToken","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_from","type":"address"},{"name":"_value","type":"uint256"}],"name":"burnFrom","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"tokensIssued","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"buyPrice","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"owner","outputs":[{"name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"buyCounter","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"symbol","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[],"name":"buy","outputs":[],"payable":true,"stateMutability":"payable","type":"function"},{"constant":false,"inputs":[{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transfer","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"frozenAccount","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"weiCounter","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_spender","type":"address"},{"name":"_value","type":"uint256"},{"name":"_extraData","type":"bytes"}],"name":"approveAndCall","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"},{"name":"","type":"address"}],"name":"allowance","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"target","type":"address"},{"name":"freeze","type":"bool"}],"name":"freezeAccount","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"newOwner","type":"address"}],"name":"transferOwnership","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"inputs":[],"payable":false,"stateMutability":"nonpayable","type":"constructor"},{"anonymous":false,"inputs":[{"indexed":false,"name":"target","type":"address"},{"indexed":false,"name":"frozen","type":"bool"}],"name":"FrozenFunds","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":true,"name":"to","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Transfer","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Burn","type":"event"}];

if(typeof web3 !== 'undefined') {
    web3 = new Web3(window.web3.currentProvider);
    console.log("works");
}
else {
    web3 = new Web3(new Web3.providers.HttpProvider('https://ropsten.infura.io/9gdpi5KIUTmyFFZjNk9L'));
    console.log("MetaMask is null");
}
        var contract = web3.eth.contract(abi);
        contractinstance = contract.at('0x6aCD187F04B7fBEBA31e0A534D30e918D9144638');
        contractinstance.name(function(error, result) {
            var _name = result;
            document.getElementById("Token1").innerHTML = _name;
             contractinstance.symbol(function(error, result) {
                 var _symbol = result;
                  document.getElementById("Token2").innerHTML = _symbol;
                  contractinstance.buyPrice(function(error, result) {
                        var _buyPrice = result.c[0];
                        document.getElementById("Token3").innerHTML = "1 ETH = " + _buyPrice + " UNITs";
                        contractinstance.buyCounter(function(error, result) {
                                var _buyCounter = result.c[0];
                                document.getElementById("Token4").innerHTML = _buyCounter;
                                contractinstance.tokensIssued(function(error, result) {
                                    var _tokensIssued = result.c[0] / 10000;
                                    document.getElementById("Token5").innerHTML = _tokensIssued;
                                     contractinstance.weiCounter(function(error, result) {
             								var _wei = result.c[0];
                                            document.getElementById("Token6").innerHTML = _wei;
                                             contractinstance.totalSupply(function(error, result) {
             									var _supply = result.c[0] / 10000;
                                            	document.getElementById("Token7").innerHTML = _supply;
                                 			});
                                 	});
                       			});
                 		});
             		});
        		});
    		});
			</script>
			<div id="temp" class="container-fluid"></div>
		</main>
	</body>
	<!-- Script for BootStrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>