<!doctype HTML>
<html>
	<head>
		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- Roboto CDN (regular + bold italic)-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700i" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" type="text/css" href="../css/nav.css">
		<link rel="icon" href="University-Token/Website/UniToken.png">
		<title>Welcome to UniToken!</title>
		<script>
		function submit() {
			console.log("test");
			var host = "http://test.universitytoken.net";
			var field = document.getElementById("regRedirect");
			var form = document.getElementById("redirectForm");
			form.addEventListener("submit", function(event){
				event.preventDefault();
				if (field.value.indexOf(".edu") <= 0){
					alert("Put a .edu email");
				} else {
					console.log(1);
					window.location.replace("/register?email=" + field.value);
				}
			});
		}
		</script>
		<style>
		</style>	
	</head>
	<body>
		<div id="bg" class="container-fluid"></div>
        <% include nav.ejs%>
        <% include flash.ejs%>
		<main>
			<div class="container">
				<div class="intro">
					<div class="introcontent">
						<div class="introwords">
							<h1 class="text-center">Cryptocurrency for academia</h1>
							<p class="text-center">Buy and sell with ERC-20</p>
						</div>
						<div class="getstarted" id="redirectForm">
							<form class="form-inline justify-content-center">
								<input class="form-control mr-sm-2" type="email" id="regRedirect" placeholder="Enter your .edu email" aria-label="Password">
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Get Started</button>
							</form>
						</div>
					</div>				
				</div>
			</div>
			<div id="infowrapper" class="container-fluid">
				<div class="container">
					<div class="info" style="margin-bottom: 26px;">
						<div class="bold">What is UniToken?</div>
						<hr>
						<div class="info-body">
							UniToken is an Ethereum based currency. It is a peer-to-peer ERC-20 token designed to be used by students. Students and Professors can use the token for exchanging for goods and services using the marketplace.
						</div>
					</div>
					<div class="info">
						<div class="bold">Why Unitoken?</div>
						<hr>
						<div class="info-body">
							To connect with a community of students from different universities. Be a part of the cryptocurrency scene.
						</div>
					</div>
					<div id="stats" class="row">
						<div class="col-4">
							<div class="bold">Tokens Issued</div>
							<div id="token-issued" class="statistic"></div>
						</div>
						<div class="col-4">
							<div class="bold">Current Price</div>
							<div id="token-price" class="statistic"><span style="font-size: 21px;"> UNIT/ETH</span></div>
						</div>
						<div class="col-4">
							<div class="bold">Remaining Supply</div>
							<div id="token-supply" class="statistic"></div>
						</div>
					</div>
					<div class="info">
						<div class="bold">How to get UniToken</div>
						<hr>
						<div id="steps" class="info-body">
							<p>
								1. Download the MetaMask extension from <a href="https://metamask.io/">https://metamask.io/</a>
							</p>
							<p>
								2. After successfully installing MetaMask, open MetaMask extention in your browser. Initially, you’ll be on the “Main Ethereum Network”. Click on “Main Ethereum Network” to open a drop down menu. Now select “Ropsten Test Network” and create a new wallet.
							</p>
							<p>
								3. To get Ethereum onto your wallet, go to <a href="http://faucet.ropsten.be:3001/">http://faucet.ropsten.be:3001/</a>. In MetaMask, click on “...” next to your account name and select “Copy Address to clipboard”. Go on the faucet and paste your address. Then click “Send me 1 test ether”.
							</p>
							<p>
								4. After receiving the ether, go onto your profile page on universitytoken.net and select the “Wallet” tab. You will be shown the current balance of your wallet on the Ropsten Test Network and how many UniTokens you have.
							</p>
							<p>
								5. Select “Buy UniToken” and you will be prompted to send Ethereum to an address. Select how much Ethereum you want to send in MetaMask and click “send”. Make sure you’re on the Ropsten Test Network.
							</p>
							<p>
								6. Now wait for the transaction to go through and you will see the tokens in your wallet on the Ropsten Test Network. 
							</p>
						</div>
					</div>
				</div>
			</div>
			<footer>
			</footer>
		</main>
	</body>
	<!-- Script for BootStrap -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script>
		submit();

		var abi = 
		[{"constant":false,"inputs":[{"name":"newSellPrice","type":"uint256"},{"name":"newBuyPrice","type":"uint256"}],"name":"setPrices","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"name","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_spender","type":"address"},{"name":"_value","type":"uint256"}],"name":"approve","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"totalSupply","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_from","type":"address"},{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transferFrom","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"decimals","outputs":[{"name":"","type":"uint8"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_value","type":"uint256"}],"name":"burn","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"sellPrice","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"balanceOf","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"target","type":"address"},{"name":"mintedAmount","type":"uint256"}],"name":"mintToken","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"_from","type":"address"},{"name":"_value","type":"uint256"}],"name":"burnFrom","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"tokensIssued","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"buyPrice","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"owner","outputs":[{"name":"","type":"address"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"buyCounter","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"symbol","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[],"name":"buy","outputs":[],"payable":true,"stateMutability":"payable","type":"function"},{"constant":false,"inputs":[{"name":"_to","type":"address"},{"name":"_value","type":"uint256"}],"name":"transfer","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"frozenAccount","outputs":[{"name":"","type":"bool"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":true,"inputs":[],"name":"weiCounter","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"_spender","type":"address"},{"name":"_value","type":"uint256"},{"name":"_extraData","type":"bytes"}],"name":"approveAndCall","outputs":[{"name":"success","type":"bool"}],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[{"name":"","type":"address"},{"name":"","type":"address"}],"name":"allowance","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[{"name":"target","type":"address"},{"name":"freeze","type":"bool"}],"name":"freezeAccount","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":false,"inputs":[{"name":"newOwner","type":"address"}],"name":"transferOwnership","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"inputs":[],"payable":false,"stateMutability":"nonpayable","type":"constructor"},{"anonymous":false,"inputs":[{"indexed":false,"name":"target","type":"address"},{"indexed":false,"name":"frozen","type":"bool"}],"name":"FrozenFunds","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":true,"name":"to","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Transfer","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"from","type":"address"},{"indexed":false,"name":"value","type":"uint256"}],"name":"Burn","type":"event"}];

		if(typeof web3 !== 'undefined') {
		    web3 = new Web3(window.web3.currentProvider);
		    console.log("works");
		}
		else {
		    web3 = new Web3(new Web3.providers.HttpProvider('https://ropsten.infura.io/9gdpi5KIUTmyFFZjNk9L'));
		    console.log("MetaMask is null");
		}
		var contract = web3.eth.contract(abi);
		contractinstance = contract.at('0x6aCD187F04B7fBEBA31e0A534D30e918D9144638');
		contractinstance.tokensIssued(function(error, result) {
		    $('#token-issued').append(result.c[0]/10000.0);
		});
		contractinstance.buyPrice(function(error, result) {
			$('#token-price').prepend(result.c[0]);
		});
		contractinstance.balanceOf('0x6aCD187F04B7fBEBA31e0A534D30e918D9144638', function(error, result) {
			$('#token-supply').append(Math.ceil(result.c[0]/10000));
			console.log(result);
		});
	</script>
</html>