<!doctype HTML>
<html>
<head>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Roboto CDN (regular + bold italic)-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700i" rel="stylesheet">
    <!-- Script for BootStrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/../css/marketplace.css">
    <link rel="icon" href="../img/UniToken.png">
    <style>
    </style>
</head>
<body>
<% include nav.ejs%>
<% include flash.ejs %>
<main class="row">
    <div id="sidebar" class="col-12 col-lg-3">
        <div id="searchwrapper" class="container">
            <div id="create-listing">
                <a class="btn btn-outline-success btn-block" href="market/post" role="button">Create a Listing</a>
            </div>
            <form action="/market" method="get">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" name="search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </div>
                <div class="bleh">
                    <div class="bold">
                        University
                    </div>
                    <hr>
                    <ul id="school-list" class="checkboxes">
                        <li>
                            <input type="checkbox" id="UCB" name="school" value="UC Berkeley">
                            <label for="UCB">UC Berkeley</label>
                        </li>
                        <li>
                            <input type="checkbox" id="UCD" name="school" value="UC Davis">
                            <label for="UCB">UC Davis</label>
                        </li>
                        <li>
                            <input type="checkbox" id="UCLA" name="school" value="UC Los Angeles">
                            <label for="UCLA">UC Los Angeles</label>
                        </li>
                        <li>
                            <input type="checkbox" id="UCR" name="school" value="UC Riverside">
                            <label for="UCR">UC Riverside</label>
                        </li>
                        <li>
                            <input type="checkbox" id="UCI" name="school" value="UC Irvine">
                            <label for="UCI">UC Irvine</label>
                        </li>
                        <li>
                            <input type="checkbox" id="UCSF" name="school" value="UC San Francisco">
                            <label for="UCSF">UC San Francisco</label>
                        </li>
                        <li>
                            <input type="checkbox" id="UCSC" name="school" value="UC Santa Cruz">
                            <label for="UCSC">UC Santa Cruz</label>
                        </li>
                        <li>
                            <input type="checkbox" id="UCSB" name="school" value="UC Santa Barbra">
                            <label for="UCSB">UC Santa Barbra</label>
                        </li>
                    </ul>
                </div>
                <div class="bleh">
                    <div class="bold">
                        Category
                    </div>
                    <hr>
                    <ul id="category-list" class="checkboxes">
                            <li>
                                <input type="checkbox" id="home" name="category" value="Home">
                                <label for="home">Home</label>
                            </li>
                            <li>
                                <input type="checkbox" id="entertainment" name="category" value="Entertainment">
                                <label for="entertainment">Entertainment</label>
                            </li>
                            <li>
                                <input type="checkbox" id="school" name="category" value="School">
                                <label for="school">School</label>
                            </li>
                            <li>
                                <input type="checkbox" id="electronics" name="category" value="Electronics">
                                <label for="electronics">Electronics</label>
                            </li>
                            <li>
                                <input type="checkbox" id="clothing" name="category" value="Clothing & Accessories">
                                <label for="clothing">Clothing & Accessories</label>
                            </li>
                            <li>
                                <input type="checkbox" id="hobbies" name="category" value="Hobbies">
                                <label for="hobbies">Hobbies</label>
                            </li>
                            <li>
                                <input type="checkbox" id="services" name="category" value="Services">
                                <label for="services">Services</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-lg-9">
        <div id="listingwrapper" class="container-fluid">
            <% for(let i = 0; i < listings.length; i++) { %>
            <div class="listing">
                <div class="row">
                    <div class="col-12">
                        <h1 class="listinginfo"><%= listings[i].info %></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        <p class="listingbio"><%= listings[i].bio %></p>
                    </div>
						<a class="btn btn-primary" id="view" href="/market/view/<%= listings[i].id%>">View</a>
                    <div class="col-3">
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>