<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/nav.css">

<div class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">UniToken</a>
        <button class="navbar-toggler navbar-toggler-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/market">Marketplace <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
<<<<<<< HEAD
                    <a class="nav-link" href="#">Profile</a>
=======
                    <a class="nav-link" href="<%= (typeof user == 'undefined') ? '/login' : '/user/' + user.user_id %>">Profile</a>
>>>>>>> 96abefdc598665d72d1d1870b7be9faa5ce61009
                </li>
            </ul>
            <% if (typeof user != 'undefined') { %>
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-welcome">Welcome back, <%= user.first_name%></p>
            </ul>
            <% } else { %>
            <form class="form-inline my-2 my-lg-0" action="/login" method="POST">
                <input method="post" class="form-control mr-sm-2" name="email" type="email" placeholder="Email"
                       aria-label="Username">
                <input method="post" class="form-control mr-sm-2" name="password" type="password" placeholder="Password"
                       aria-label="Password">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            </form>
            <% } %>
        </div>
    </div>
</div>