<!doctype HTML>
<html>

    <head>
        <title>Reset Password</title>
        <link rel="icon" href="/img/UniToken.png">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/signin.css" rel="stylesheet">

        <style>
            body {
                margin-top: 100px;
            }
        </style>
    </head>
    
    <body class="text-center">
    <form class="form-signin" action="/resetpassword" method="POST">
        <img class="mb-4" src="/img/UniToken.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Enter Your Email</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="Email address">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
    </form>
    </body>
</html>