<!doctype HTML>
<html>
	<head>

	</head>
	<body>
		<form action="/resetpassword" method="POST">
			Enter your email:<br>
			<input type="email" name="email" type="email"><br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>